
html {
    background-color: var(--bg-dark);
}

body {
    font-family: 'UbuntuSansNerdFont', sans-serif;
    font-weight: normal;
    background-color: var(--bg-dark);
    color: var(--text);
    letter-spacing: 0.12em;
    line-height: 1.5em;
}

/* landing styles */


.landing {
    height: 100vh;
    width: 100vw;
    background: url('../images/output.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    min-height: 100vh;
}
.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.45);
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.landing-slagord {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    text-align: center;
    text-shadow:    1px 1px 3px black,
                    1px -1px 3px black,
                    -1px 1px 3px black,
                    -1px -1px 3px black;
    margin: 2rem;
}
.enter-btn {
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(145deg, var(--gradient-end), var(--gradient-start));
    border: 1px solid var(--border);
    border-radius: 10px;
    cursor: pointer;
    box-shadow:
        0 2px 3px rgba(0,0,0,0.2),
        2px 2px 3px rgba(0,0,0,0.2),
        0 -2px 3px rgba(0,0,0,0.2),
        -2px -2px 3px rgba(0,0,0,0.2);
    text-decoration: none;
}
.enter-btn:hover {
    background: linear-gradient(145deg, var(--gradient-start), var(--gradient-end));
    transition-duration: background 0.2s;
}

header {
    width: 100%;
    height: 10em;
    background-image: url('../images/output.webp');
    background-position: center;
    background-size: cover;
    align-content: center;
    padding-left: 50px;
    border-bottom: 2px solid var(--border);
}

.logo {
    width: 200px;
    margin-left: 7px;
    filter: 
    drop-shadow(1px 1px 0 hsl(0 0 70)) 
    drop-shadow(-1px -1px 0 hsl(0 0 70)) 
    drop-shadow(1px -1px 0 hsl(0 0 70)) 
    drop-shadow(-1px 1px 0 hsl(0 0 70)) 
    drop-shadow(0 0 3px hsl(0 0 0)) 
}

header .tagline {
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    text-shadow:    1px 1px 3px black,
                    1px -1px 3px black,
                    -1px 1px 3px black,
                    -1px -1px 3px black;
}

nav {
    margin-top: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1080px;
    margin: auto;
}

nav li {
    background-color: var(--bg-dark);
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-color: var(--border);
    border-radius: 4px;
    align-content: center;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: var(--text);
}

#student_list{
    --border-radius:15px;
    
    display: flex;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#student_list div{
    text-align: center;
    display: flex;
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    border: 1px solid var(--border);
    height: 160px;
}

#student_list a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#student_list div:hover {
    background-color: none;
    background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
}

#student_list div div:hover {
    background-color: none;
    background: none;
}

#student_list div div {
    border: none;
    border-radius: 0;
    background: none;
}

.info_container{
    flex-direction: column;
    text-align: center;
    word-wrap: break-word;
    width: 200px;
}

.info_container b {
    width: fit-content;
    padding: 10px 20px 0 20px;
    font-size: large;
    margin: 0 auto;
    border-bottom: 1px solid var(--border);
}
.info_container p{
    text-align: left;
    font-weight: normal;
}

.info_container p:hover {
    text-shadow: 1px 1px 3px var(--shadow);
}

#student_list div img{
    display: block;
    object-fit: cover;
    width: 100px;
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}


nav ul li:hover {
    color: white;
    background: linear-gradient(145deg, var(--gradient-start), var(--gradient-end));
    text-shadow: 1px 1px 3px var(--shadow);
}

nav ul li:hover a {
    color: white;
}

nav ul .active {
    background: linear-gradient(145deg, var(--gradient-start), var(--gradient-end));
    text-shadow: 1px 1px 3px var(--shadow);
    color: white
}


#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--bg-dark);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    margin: 1rem;
}

main {
    display: block;
    text-align: center;
    background-color: var(--bg);
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--border);
    border-radius: 10px;
}

h1 {
    display:inline-block;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 0.08em;
    padding: 15px 50px;
    margin-bottom: 20px;
    margin: 20px auto;
    border-bottom: 1px solid var(--border);
    text-shadow: 1px 1px 3px var(--shadow);
}

h3 {
    display:inline-block;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.08em;
    padding: 15px 50px;
    margin-bottom: 20px;
    margin: 20px auto;
    border-bottom: 1px solid var(--border);
    text-shadow: 1px 1px 3px var(--shadow);
    text-decoration: none;
}

p {
    padding: 0.5em;
    margin-left: 20px;
}

footer {
    border-top: 1px solid var(--border);
    text-align: center;
    font-size: small;
    padding: 1em;
}

.vannvett {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--bg-light);
    padding: 2rem;
    border: 1px solid var(--border);
}
.vannvett li {
    list-style-type: numeric;
    margin-bottom: 2rem;
}

.vannvett li:last-child {
    margin-bottom: 0;
}

.vannvett h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-left:2rem;
    font-weight: 700;
    border-bottom: 1px solid var(--border);
}

.motegalleri {
    display : grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    margin-bottom: 20px;
}

.item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    object-fit: contain;
    background: linear-gradient(var(--border), var(--bg-light));
    border: 1px solid var(--border);
    padding: 10px;
}

.item a, .verksted a, .partner a {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--border);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bg-dark);
    min-width: max-content;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.item a:hover, .verksted a:hover, .partner a:hover {
    background: linear-gradient(145deg, var(--gradient-start), var(--gradient-end));
    color: var(--text-light);
    text-shadow: 1px 1px 3px var(--shadow);
}

h1, h2, p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

h2 {
    border-bottom: 1px solid var(--border);
    max-width: fit-content;
    margin: 20px auto;
    padding: 15px 50px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px var(--shadow);
}

@media (max-width: 768px) {
    nav {
        padding:0;
    }
    nav ul {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    #menu-toggle:checked + .menu-icon + nav ul {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
    }
    .motegalleri {
    grid-template-columns: repeat(2, 1fr);
    }
    .item img {
        min-width: 165px;
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input[type="radio"] {
    display: none;
}

.tab-labels {
    display: flex;
}

.tab-labels label {
    flex: 1;
    padding: 10px;
    background: var(--bg-dark);
    text-align: center;
    font-size: larger;
    cursor: pointer;
    border: 1px solid var(--border);
    transition: background 0.3s;
}

.tab-labels label:hover {
    background: linear-gradient(to top, var(--gradient-start), var(--gradient-end));
    text-shadow:    1px 1px 3px black,
                    1px -1px 3px black,
                    -1px 1px 3px black,
                    -1px -1px 3px black;
}

/* Content area */
.tab-content {
    border: 1px solid var(--border);
    border-top: none;
    padding: 20px;
    background: var(--bg);
}

.content-hidden {
    display: none;
}

/* Show the selected tab */
#tab1:checked ~ .tab-contents #content1,
#tab2:checked ~ .tab-contents #content2,
#tab3:checked ~ .tab-contents #content3,
#tab4:checked ~ .tab-contents #content4 {
    display: block;
}

/* Highlight active tab */
#tab1:checked ~ .tab-labels label[for="tab1"],
#tab2:checked ~ .tab-labels label[for="tab2"],
#tab3:checked ~ .tab-labels label[for="tab3"],
#tab4:checked ~ .tab-labels label[for="tab4"] {
    background: linear-gradient(to bottom, var(--gradient-start), var(--bg));
    border-bottom: none;
    font-weight: bold;
    text-shadow:    1px 1px 3px black,
                    1px -1px 3px black,
                    -1px 1px 3px black,
                    -1px -1px 3px black;
}

.car_info td img{
    width: 600px;
}

table {
    line-height: 1.5;
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 5px;
}   
table th, td {
    line-height: 1.5;
    border: 2px solid gray ;
}   

table thead{
    text-align: left;
    /* padding-right: 30px; */
}


table .car_info :nth-child(1),
table .car_info :nth-child(2),
table .car_info :nth-child(3){
    font-size: large;
    padding-bottom: 10px;
    vertical-align: top;
    
}

table .car_info :nth-child(4),
table .car_info :nth-child(5){
    vertical-align: top;
}

table .car_info :nth-child(3){
    width: 100px;
}

.bolig details, .partner details {
    cursor: pointer;
    padding: 1em;
    border-top: 1px solid var(--border);
}

.partner details {
    font-size: larger;
    font-weight: bolder;
}

.partner details p {
    font-size:medium;
    font-weight: normal;
}

.bolig h3 {
    border: none;
}


.verksted ul {
    text-align: left;
    list-style-type:circle;
    padding-left: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.verksted ul li:hover {
    list-style-type: disc;
}

.partner details p a {
    margin-top: 25px;
    font-size: large;
}
.partner details p {
    line-height: 1.6em;
}

main p {
    font-weight: normal;
}