html {
    background-color: var(--bg-dark);
}

body {
    font-family: 'UbuntuSansNerdFont', sans-serif;
    font-weight: 400;
    background-color: var(--bg-dark);
    color: var(--text);
    letter-spacing: 0.05em;
}

header {
    width: 100%;
    height: 10em;
    background-image: url('../images/output.webp');
    background-position: center;
    background-size: cover;
    align-content: center;
    padding-left: 50px;
    border-bottom: 2px solid var(--border);
}

.logo {
    width: 200px;
    margin-left: 7px;
    filter: 
    drop-shadow(1px 1px 0 hsl(0 0 70)) 
    drop-shadow(-1px -1px 0 hsl(0 0 70)) 
    drop-shadow(1px -1px 0 hsl(0 0 70)) 
    drop-shadow(-1px 1px 0 hsl(0 0 70)) 
    drop-shadow(0 0 3px hsl(0 0 0)) 
}

header .tagline {
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    text-shadow:    1px 1px 3px black,
                    1px -1px 3px black,
                    -1px 1px 3px black,
                    -1px -1px 3px black;

}

nav {
    margin-top: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    background-color: var(--bg-dark);
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-color: var(--border);
    border-radius: 4px;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: var(--text);
}

nav ul li:hover {
    color: white;
    background: linear-gradient(145deg, var(--gradient-start), var(--gradient-end));
    text-shadow: 1px 1px 3px var(--shadow);
    transition: background-color 0.4s
}

nav ul li:hover a {
    color: white;
}


#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--bg-dark);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    margin: 1rem;
}

@media (max-width: 768px) {
    nav {
        padding:0;
    }
    nav ul {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    #menu-toggle:checked + .menu-icon + nav ul {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
    }
}

main {
    display: block;
    text-align: center;
    background-color: var(--bg);
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--border);
    border-radius: 10px;
}

h1 {
    display:inline-block;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 0.08em;
    padding: 15px 50px;
    margin-bottom: 20px;
    margin: 20px auto;
    border-bottom: 1px solid var(--border);
    text-shadow: 1px 1px 3px var(--shadow);
}

h3 {
    display:inline-block;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.08em;
    padding: 15px 50px;
    margin-bottom: 20px;
    margin: 20px auto;
    border-bottom: 1px solid var(--border);
    text-shadow: 1px 1px 3px var(--shadow);
    text-decoration: none;
}

p {
    padding: 0.5em;
    margin-left: 20px;
}

footer {
    border-top: 1px solid var(--border);
    text-align: center;
    font-size: small;
    padding: 1em;
}



/* landing styles */


.landing {
    height: 100vh;
    width: 100vw;
    background: url('../images/output.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}
.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.45);
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.landing-slagord {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    text-align: center;
    text-shadow:    1px 1px 3px black,
                    1px -1px 3px black,
                    -1px 1px 3px black,
                    -1px -1px 3px black;
    margin-bottom: 2rem;
}
.enter-btn {
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(145deg, var(--gradient-end), var(--gradient-start));
    border: 1px solid var(--border);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
    box-shadow: -2px -2px 3px rgba(0,0,0,0.2);
    text-decoration: none;
}
.enter-btn:hover {
    background: linear-gradient(145deg, var(--gradient-start), var(--gradient-end));
    transition-duration: background 0.2s;
}

.vannvett {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--bg-light);
    padding: 2rem;
    border: 1px solid var(--border);
}
.vannvett li {
    list-style-type: numeric;
    margin-bottom: 2rem;
}

.vannvett h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-left:2rem;
    font-weight: 700;
    border-bottom: 1px solid var(--border);
}


.car_info td img{
    width: 600px;
}

table {
    line-height: 1.5;
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 5px;
}   
table th, td {
    line-height: 1.5;
    border: 2px solid gray ;
}   

table thead{
    text-align: left;
    /* padding-right: 30px; */
}


table .car_info :nth-child(1),
table .car_info :nth-child(2),
table .car_info :nth-child(3){
    font-size: large;
    padding-bottom: 10px;
    vertical-align: top;
    
}

table .car_info :nth-child(4),
table .car_info :nth-child(5){
    vertical-align: top;
}

table .car_info :nth-child(3){
    width: 100px;
}

